.git
.github
.env
**/__pycache__
**/*.pyc
**/*.pyo
*.session
*.session-journal
downloads/
Downloaded/
Thumbnails/
unknown_errors.txt
unzip-log.txt
sessions/
.venv
venv
.env.example
*.md
!requirements.txt
LICENSE
AUTHORS
CONTRIBUTORS.svg
renovate.json
.deepsource.toml
.whitesource
app.json
heroku.yml
Procfile
.python-version
